/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #eee;
}

.hero-unit {
    background: #ddd;
    border: 2px solid #fff;
}

/* ==========================================================================
   Bootstrap overwritten styles
   ========================================================================== */

