<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <base href="/" target="_self">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Muscle : <%= title %></title>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a href="/" class="brand">Muscle</a>
                <ul class="nav pull-right">
                    <li><a href="/">home</a></li>
                    <li><a href="/page/about">about</a></li>
                    <li><a href="/user">user</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <div class="hero-unit"><h2><%= title %></h2></div>
        </div>
    </div>

    <script src="js/lib/bootstrap.min.js"></script>

</body>
</html>